build/
tmp/
env.*

**/.antlr
**/__pycache__

antlr/*
!antlr/setup.sh
llvm/*
!llvm/setup.sh

.devcontainer/*
!.devcontainer/devcontainer.json
!.devcontainer/yatcc.Containerfile
!.devcontainer/build-image.sh
